<div class="container">

<h1>Checkout</h1>

<% @carted_products.each do |carted_product| %>
  <p>Product: <%= carted_product.product.name %></p>
  <p>Quantity: <%= carted_product.quantity %></p>
  <%= link_to "Remove", "/carted_products/#{carted_product.id}", {method: :delete, class: "btn btn-danger" } %>
<% end %>

<%= form_tag '/orders', method: :post do  %>
  <div>
    <%= submit_tag "Buy Now" %>
  </div>
<% end %>