<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/products">Bookstore</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      <% if is_admin? %>
        <li class="active"><a href="/products/new">Add Book<span class="sr-only">(current)</span></a></li>
      <% end %>
        
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/products?sort=price&sort_order=asc">Price (low to high)</a></li>
            
            <li><a href="/products?sort=price&sort_order=desc">Price (high to low)</a></li>
            <li><a href="/products?sort=name">Title</a></li>
            <li><a href="/products?sort=description">Author</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Shop by Genre <span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            <% Category.all.each do |category| %>
              <li><a href="/products?category=<%=category.name%>"><%= category.name %></a></li>
            <% end %>
            
           
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
      <%= form_tag "/search", :class => "navbar-form navbar-left", method: :post do %>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/products/?discount=true">Discount Items<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/products/random">Random Book<span class="sr-only">(current)</span></a></li>
        
        <% if current_user %>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/signup">Sign up to buy</a></li>
          <li><a href="/login">Login</a></li>
        <% end %>
        
        <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi, <%= current_user.name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Cart</a></li>
            <li><a href="#">Favorites</a></li>
          </ul>
        </li>
        <% end %>
        
        <% if current_user %>
          <li><a href="/carted_products">Checkout <%= @cart_count %></a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key %>" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %>
    </div>
  <% end %>
<div class="container">
</div>
    <%= yield %>
  </body>
</html>
